body {
  margin: auto 0;
  padding: 0;
}
#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto 0;
}
/* #authenticate {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: rebeccapurple;
} */
