body {
  margin: 0 auto;
  padding: 0;
}
#app {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
}
#authenticate {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
