#profileDetails {
  flex: 1 20%;
  height: 100%;
  color: white;
  font-size: 15px;
  font-weight: 100;
  background-color: #19202e;
  border: none;
}
#userDetails {
  width: inherit;
  width: 100%;
  height: 25%;
  border: none;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.842);
}
.todoDetails {
  padding: 5px;
  border: 1px solid transparent;
  /* border-bottom: 1px solid rgb(233, 229, 229); */
}
#userTodoInfo {
  margin-bottom: 5px;
}
.todoDetails:hover {
  /* border: 1px solid white; */
}
#addNoteBtn {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  color: white;
  height: 50px;
  border: 1px solid #5ea96d;
  text-shadow: 0 -10px 0 0 rgb(40, 122, 76);
  outline: none;
  margin-top: 20px;
  padding: 5% 0 5%;
  background-color: #5ea96d;
  text-align: center;
}
#stts {
  position: absolute;
  bottom: 10px;
}
#stts::before {
}
